;

.content {
  background: #fff;
  display: grid;
  grid-template-areas: "lcol rcol";
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;

  .r-col {
    grid-area: rcol;
    position: fixed;
    left: 50%;
    overflow-y: hidden;

    .photo {
      z-index: 0;

      img {
        height: 100vh;
        width: auto;
      }
    }

    .contact {
      background: var(--red);
      z-index: 1;
      position: fixed;
      bottom: 20%;
      width: 100%;

      p {
        font-size: 1.5em;
        font-family: "Avenir Black", sans-serif;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        padding: 1em 3.5em;

        a {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }

  .l-col {
    grid-area: lcol;
    z-index: 1;
    background: #fff;
    padding: 10em 6em 0 6em;
    // overflow-x: hidden;

    .rs {
      ul {
        margin-top: 0.3em;
        margin-left: -3px;
        padding: 0;

        a:link,
        a:visited {
          color: var(--red);
        }
      }

      li {
        cursor: pointer;
      }
    }

    .comment {
      font-style: italic;
      margin: 0;
    }

    .text {
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    }

    figure {
      display: block;
      margin: .2em;
      padding: .5em;

      blockquote {
        margin: 0;
        font-family: "Avenir Black", sans-serif;
        font-weight: bold;
        font-style: normal;
        color: var(--red);
        text-transform: uppercase;
        font-size: .8em;
        text-align: center;

      }

      figcaption {
        font-family: "Avenir Book", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #000;
        font-size: .8em;
        text-align: center;
        margin: 0;
      }
    }

    .glider-contain {
      // width: 85% !important;
      margin-top: 2%;
      margin-bottom: 7%;
    }

    // .glider-next {
    //   right: -100px;
    //   top: 50%;
    // }

    // .glider-prev {
    //   right: -40px;
    //   top: 50%;
    // }

    #container {
      height: 330px;
    }

    #circle {
      position: relative;
      width: 300px;
      overflow: hidden;
    }

    #circle p {
      fill: #000;
    }

    #circle a:hover {
      fill: var(--red);
    }

    #circle .text-int {
      fill: var(--red);
      text-transform: uppercase;
      font-family: "Avenir Black", sans-serif;
      font-style: bold;
      font-size: 0.8em;
    }

    #circle .cercle {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      // height: 540px;

      -webkit-animation-name: rotate;
      -moz-animation-name: rotate;
      -ms-animation-name: rotate;
      -o-animation-name: rotate;
      animation-name: rotate;
      -webkit-animation-duration: 10s;
      -moz-animation-duration: 10s;
      -ms-animation-duration: 10s;
      -o-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear;
    }

    @keyframes rotate {
      from {
        transform: rotate(0);
      }

      to {
        transform: rotate(360deg);
      }
    }

    // #text {
    //     // position: absolute;
    //     // top: 50%;
    //     // left: 50%;
    //     transform: translate (-50%, -50%);
    //     animation: text-animation 15s infinite linear;
    // }

    // @keyframes text-animation {
    //     0% {
    //         transform: rotate(0deg);
    //     }

    //     100% {
    //         transform: rotate(360deg);
    //     }

    // }
  }
}