/* TABLE OF CONTENTS :

1. Header
2. Content
3. Right column
4. Left column */

/* 1. HEADER */

.backward {
  grid-area: backward;
  margin-top: 0.3em;
  height: 21px;
  width: auto;

  img {
    height: 100%;
  }

  p {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Avenir Black", sans-serif;
    text-decoration: none;
    color: var(--black);
    font-size: 1em;
    vertical-align: top;
    margin-left: 0.4em;
  }
}

/* 2. GENERAL */

.content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "lcol rcol";
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;

  /* 3. RIGHT COLUMN */

  .r-col {
    grid-area: rcol;
    position: fixed;
    left: 50%;
    height: 100vh;
    overflow-y: hidden;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media all and (max-width: 1130px) {
    .r-col {
      height: 100%;
      width: 100%;
    }
  }

  .contact {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 75%;
    width: 450px;
    height: 450px;
    transform: translate(-50%, -50%);
    border: solid 4px var(--white);
    cursor: pointer;

    p {
      position: fixed;
      top: 30%;
      font-size: 2em;
      font-family: "Avenir Black", sans-serif;
      color: var(--white);
      font-weight: bold;
      font-style: normal;
      text-transform: uppercase;
      padding: 0.4em 1.2em;
      text-align: center;
      cursor: pointer;

      a {
        color: var(--white);
      }
    }
  }

  .contact:hover {
    border: solid 4px var(--main);

    p {
      color: var(--main);

      a {
        color: var(--main);
      }
    }
  }
}

@media all and (max-width: 1130px) {
  .content {
    grid-template-areas:
      "rcol"
      "lcol";
    grid-template-columns: auto;
    grid-template-rows: 60% auto;
  }
}

/* 4. LEFT COLUMN */

.l-col {
  grid-area: lcol;
  z-index: 1;
  background: var(--white);
  padding: 8em 0 0 0;
  width: auto;
  height: auto;

  #bg-header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    background: var(--white);
    height: 6em;
  }

  @media all and (max-width: 1130px) {
    #bg-header {
      width: 100%;
    }
  }

  .presentation {
    padding-left: 6em;
    padding-right: 6em;

    h1 {
      margin-bottom: 0.3em;
      line-height: 1em;
    }

    .label {
      display: inline-block;
      margin-top: -0.5em;
      margin-bottom: 1rem;
      font-family: "Avenir Black", sans-serif;
      padding: 4px 9px;
      background: var(--main);
      color: var(--white);
    }

    .comment {
      font-style: italic;
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    .rs {
      ul {
        margin: 0.3rem -3px 1em 0;
        padding: 0;

        a:link,
        a:visited {
          color: var(--main);
        }
      }

      li {
        cursor: pointer;
        margin: 0 1px 2rem 1px;
      }
    }
  }

  .intro {
    background: var(--main);
    color: var(--white);
    padding: 1.5em 6em;
    margin-top: 3em;
  }

  .text {
    margin-bottom: 5em;
    padding-left: 6em;
    padding-right: 6em;

    p {
      line-height: 1.5em;
      margin-top: 0;

      em {
        font-size: 1.2em;
        font-family: "Avenir Black", sans-serif;
        color: var(--main);
        font-weight: bold;
        font-style: normal;
        padding-right: 5px;
      }
    }

    #wrapper {
      position: relative;
      height: 100%;
      margin-top: 1.5em;
      margin-bottom: 0;
      padding: 0;

      #slider-area {
        position: absolute;
        margin: 0;

        .owl-item div {
          height: 170px;
          width: 170px;
          background-repeat: no-repeat;
          -webkit-backface-size: cover;
          background-size: cover;
          background-position: 50% 50%;
          margin: 0 auto 10px auto;
        }

        blockquote {
          margin: 0;
          font-family: "Avenir Black", sans-serif;
          font-weight: bold;
          font-style: normal;
          color: var(--main);
          text-transform: uppercase;
          font-size: 0.8em;
          text-align: center;
        }

        figcaption {
          font-family: "Avenir Book", sans-serif;
          font-weight: normal;
          font-style: normal;
          color: var(--black);
          font-size: 0.8em;
          text-align: center;
          margin: 0;
        }
      }

      #artist-wrapper {
        position: relative;
        height: 100%;
        margin-top: 1.5em;
        margin-bottom: 0;
        padding: 0;

        #slider-area {
          position: absolute;
          margin: 0;

          blockquote {
            margin: 0;
            font-family: "Avenir Black", sans-serif;
            font-weight: bold;
            font-style: normal;
            color: var(--main);
            text-transform: uppercase;
            font-size: 0.8em;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          figcaption {
            font-family: "Avenir Book", sans-serif;
            font-weight: normal;
            font-style: normal;
            color: var(--black);
            font-size: 0.8em;
            text-align: center;
            margin: 0;
          }
        }
      }
    }
  }

  .press-kit {
    background: var(--main);
    padding: 4em 0;

    // p {
    //   font-family: "Avenir Black", sans-serif;
    //   font-weight: bold;
    //   font-style: normal;
    //   color: var(--white);
    //   font-size: 1.4em;
    //   text-transform: uppercase;
    //   padding: 0 4em;
    // }

    p {
      text-transform: uppercase;
      font-family: "Avenir Black", sans-serif;
      font-size: 1em;
      padding: 0 6em;
      margin-bottom: 0;
      text-align: center;

      a {
        color: var(--white);
        border: solid 2px var(--white);
        padding: .6em 3.5em;
        display: inline-block;
      }

      a:hover {
        color: var(--main);
        background: var(--white);
        // }

        // .cta {
        //   color: var(--main);
        //   background: var(--white);
        // }
      }
    }
  }

  footer {
    padding-left: 6em;
    padding-right: 6em;
    // background: var(--main);

    .copyright {
      // color: var(--white);

      a {
        // color: var(--white);
      }
    }
  }
}

@media all and (max-width: 1130px) {
  .l-col {
    // grid-area: lcol;
    // z-index: 1;
    // margin-top: 40%;
    // background: none;
    padding: 2em 6em 0 6em;
    width: auto;
    height: auto;
  }
}