/* TABLE OF CONTENTS :

1. Content
2. Right column
3. Left column */
/* 1. GENERAL */
.content {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "lcol rcol";
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  /* 2. RIGHT COLUMN */
}

.content .r-col {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: rcol;
  position: fixed;
  left: 50%;
  height: 100vh;
  overflow-y: hidden;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media all and (max-width: 1130px) {
  .content .r-col {
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.content .contact {
  background: var(--main);
  z-index: 1;
  position: fixed;
  bottom: 20%;
  width: 100%;
}

.content .contact p {
  font-size: 1.6em;
  font-family: "Avenir Black", sans-serif;
  color: #fff;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  padding: 1em 3.5em;
}

.content .contact p a {
  padding: 1px 8px;
  background: #fff;
}

@media all and (max-width: 1130px) {
  .content {
        grid-template-areas: "rcol" "lcol";
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 60% auto;
        grid-template-rows: 60% auto;
  }
}

/* 3. LEFT COLUMN */
.l-col {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lcol;
  z-index: 1;
  background: #fff;
  padding: 8em 6em 0 6em;
  width: auto;
  height: auto;
}

.l-col #bg-header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  background: #fff;
  height: 6em;
}

@media all and (max-width: 1130px) {
  .l-col #bg-header {
    width: 100%;
  }
}

.l-col .rs ul {
  margin: .3rem -3px 4rem 0;
  padding: 0;
}

.l-col .rs ul a:link,
.l-col .rs ul a:visited {
  color: var(--main);
}

.l-col .rs li {
  cursor: pointer;
  margin: 0 1px 2rem 1px;
}

.l-col h2 {
  margin-bottom: .3em;
  line-height: 1em;
}

.l-col .label {
  display: inline-block;
  margin-top: -.5em;
  margin-bottom: 1rem;
  font-family: "Avenir Black", sans-serif;
  padding: 4px 9px;
  background: var(--main);
  color: #fff;
}

.l-col .comment {
  font-style: italic;
  margin: 0;
}

.l-col .text {
  margin-bottom: 3em;
}

.l-col .text p {
  line-height: 1.5em;
}

.l-col .text p em {
  font-size: 1.2em;
  font-family: "Avenir Black", sans-serif;
  color: var(--main);
  font-weight: bold;
  font-style: normal;
  padding-right: 5px;
}

.l-col .text #wrapper {
  position: relative;
  height: 100%;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 0;
}

.l-col .text #wrapper #slider-area {
  position: absolute;
  margin: 0;
}

.l-col .text #wrapper #slider-area .owl-item div {
  height: 170px;
  width: 170px;
  background-repeat: no-repeat;
  -webkit-backface-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto 10px auto;
}

.l-col .text #wrapper #slider-area blockquote {
  margin: 0;
  font-family: "Avenir Black", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: var(--main);
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
}

.l-col .text #wrapper #slider-area figcaption {
  font-family: "Avenir Book", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

.l-col .text #wrapper #artist-wrapper {
  position: relative;
  height: 100%;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 0;
}

.l-col .text #wrapper #artist-wrapper #slider-area {
  position: absolute;
  margin: 0;
}

.l-col .text #wrapper #artist-wrapper #slider-area .owl-item div {
  height: 170px;
  width: 170px;
  background-repeat: no-repeat;
  -webkit-backface-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto 10px auto;
}

.l-col .text #wrapper #artist-wrapper #slider-area blockquote {
  margin: 0;
  font-family: "Avenir Black", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: var(--main);
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: center;
}

.l-col .text #wrapper #artist-wrapper #slider-area figcaption {
  font-family: "Avenir Book", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

@media all and (max-width: 1130px) {
  .l-col {
    padding: 2em 6em 0 6em;
    width: auto;
    height: auto;
  }
}
/*# sourceMappingURL=artist.css.map */