/* TABLE OF CONTENTS :

1. Header
2. General
3. Gallery filters
4. Gallery
5. Footer */

/* 1. HEADER */
header {
    background: #fff;
}

/* 2. GENERAL */

.content {
    padding: 8em 5.8rem 1rem 5.8rem;
}

@media all and (max-width: 580px) {
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.gallery-title {
    grid-area: title;
    margin: .8em auto auto;

    h2 {
        margin-bottom: 0;
    }
}

/* 3. GALLERY FILTERS */

.filters {
    #filters {
        list-style: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: .9em;
        padding: 0;
        margin-top: .5rem;

        li {
            display: inline-block;

            span {
                margin: 3px 5px;
                padding: 7px 10px;
                font-family: "Avenir Black", sans-serif;
                text-decoration: none;
                color: #000;
                cursor: pointer;
                line-height: 2.3rem;
            }

            span:hover {
                color: var(--main);
            }

            span.active {
                background: var(--main);
                color: #fff;
            }
        }
    }
}

/* 4. GALLERY */

#gallery {
    margin-top: 2em;

    .artists-gallery {
        position: relative;
        width: 100%;
        text-align: center;

        .artist {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            display: none;
            position: relative;
            float: left;
            overflow: hidden;
            width: 50%;
            background: var(--main);
            cursor: pointer;

            img {
                position: relative;
                display: block;
                width: 100%;
            }

            .caption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Avenir Black", sans-serif;
                color: #fff;
                text-transform: uppercase;

                p {
                    text-align: center;
                    font-size: 2.7em;
                    letter-spacing: 1px;
                    opacity: 0;
                    transition: opacity 0.35s, transform 0.35s;
                }
            }
        }

        @media all and (max-width: 850px) {
            .artist {
                width: 100%;
            }
        }

        .artist:hover {
            img {
                opacity: .5;
                transform: translate3d(0, 0, 0);
            }

            p {
                opacity: 1;
            }
        }
    }
}

/* 5. FOOTER */

footer {
    margin-left: 5.8rem;
}

@media all and (max-width: 580px) {
    footer {
        margin-left: 2rem;
    }
}