// header {
//     background: var(--white);
// }

.content {
    overflow: hidden;

    #wrapper {
        position: relative;
        height: 100vh;
        width: 100vw;

        #slider-area {
            position: absolute;
            height: 100vh;
            width: 100%;
            left: 0;
            background-size: cover;

            .owl-item div {
                height: 100vh;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center center;
            }

            p {
                position: absolute;
                bottom: 10%;
                left: 0;
                width: auto;
                font-size: 3em;
                font-family: 'Avenir Black', sans-serif;
                color: var(--white);
                font-style: normal;
                text-transform: uppercase;
                padding: .5em 1em .5em 1.9em;
                background: var(--main);
            }
        }
    }
}